### Basics of Python

Fill valid code/values in place of blanks.

# Demo
# initialize variable 'msg' with the string 'Hello World'
msg = _____

# Solution
msg = "Hello World"

In [ ]:
# initialize variables 'a' and 'b' with 5 and 6 respectively
a = 5 
b = 6
# add 'a' and 'b' and assign the result into a new variable 'c'
c = a + b
print(c)

In [ ]:
# build a function to add 2 numbers
def addition(x,y):
    return(x+y)

# use the function 'addition' to add 'a' and 'b'
addition(4,5)

In [ ]:
# create a list consisting of first 5 even numbers and print the list
my_list = [10,20,30,40,50]
print(my_list)

In [ ]:
# access the 3rd element of the list 'my_list'
my_list[2]

In [ ]:
# given below is a dictionary having 4 unique keys, i.e., 'name', 'age', 'gender', 'is_employed'
my_dict = {'name':'Smith',
           'age':34,
           'gender': 'Male',
           'is_employed': False}

# print 'my_dict'
print(my_dict)

In [ ]:
# access value under 'name' key from 'my_dict'
my_dict['name']

In [ ]:
# update 'is_employed' key to True
my_dict.update({'is_employed': True})

# print the updated dictionary
print(my_dict)

In [ ]:
# use a for loop to print only even numbers from the first 20 numbers, i.e. 1-20
for i in range(1,21):
    if i % 2 == 0:
        print(i)

### Please download the file "data_python.csv".

In [ ]:
# import required libraries
import pandas as pd
import numpy as np

In [ ]:
## read data_python.csv using pandas
mydata = pd.read_csv("data_python.csv")

In [ ]:
## print the number of rows and number of columns of mydata
mydata.shape

In [ ]:
## assign a variable 'target' with the 'Loan_Status' feature from mydata dataframe
target = mydata['Loan_Status']

In [ ]:
## print the datatype of ApplicantIncome feature
print(mydata['ApplicantIncome'].dtype)

In [ ]:
## conditional statement - print 'Yes' if the 21st element of 'Education' feature is 'Graduate' else print 'No'
if(mydata['Education'][20] == 'Graduate'):
    print('yes')
else:
    print('No')

In [ ]:
## print 31st to 35th rows of mydata
mydata.iloc[31:36]

In [ ]:
## print first 5 rows of 2nd and 3rd column only
mydata.iloc[:6,1:3]

In [ ]:
def fun(x):
    x[0]=5
    return(x)
g =[10,11,12]
print(fun(g),g)

In [ ]:
import time
str ='21/01/2017'
date_time_value =time.strptime(str,"%d/%m/%Y")

In [ ]:
a = [1,2,3,4,5]

b = [6,7,8,9]
c=a.extend(b)
print(c)

In [ ]:
a = [1,2,3,4,5]

b = [6,7,8,9]
a.append(b)
print(c)

In [ ]:
my_set ={1,True}

print(my_set)

In [ ]:
#What is the output of the following program?

L1 = [10, 20, 30, 40]

L2 = L1

L3 = L1.copy()

L4 = list(L1)

L1[0] = [50]

print(L1, L2, L3, L4)
print(L2)
print(L3)
print(L4)

In [ ]:
print(bool(0), bool(1.11), bool(-5))

In [ ]:
for i in range(1,10):
    if(i==5):
        pass
    else:
        print(i,end ="")

In [ ]:
#find  student marks percentages:
if __name__ == '__main__':
    n = int(input())
    student_marks = {}
    for _ in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores
    query_name = input()
    if query_name in student_marks:
        x = ((float(student_marks[query_name][0]) + float(student_marks[query_name][1]) + float(student_marks[query_name][2])) / 3)
    
    print('%.2f' % x)

In [ ]:
#find  student marks percentages:
if __name__ == '__main__':
    n = int(input())
    student_marks = {}
    for _ in range(n):
        name, *line = input().split()
        print("name")
        scores = list(map(float, line))
        student_marks[name] = scores
    query_name = input()

In [ ]:
#find  student marks percentages:
if __name__ == '__main__':
    n = int(input())
    student_marks = {}
    for _ in range(n):
        name, *line = input().split()
        print("name" ,name)
        print(*line)
        scores = list(map(float,line))
        print(scores)
        student_marks[name] = scores
        print(student_marks[name])

In [ ]:
# print * in the pattren
for i in range(5):
    for j in range(10):
        print("*",end =" ")
    print()

In [ ]:
#Write code that will print the following:
# 0 1 2 3 4 5 6 7 8 9
# 0 1 2 3 4 5 6 7 8 9
# 0 1 2 3 4 5 6 7 8 9
# 0 1 2 3 4 5 6 7 8 9
# 0 1 2 3 4 5 6 7 8 9
# 0 1 2 3 4 5 6 7 8 9

for i in range(10):
#     print(i,end=" ")
    for j in range(10):
        print(j,end =" ")
    print()

In [ ]:
# Adjust the prior program to print:
# 0 0 0 0 0 0 0 0 0 0
# 1 1 1 1 1 1 1 1 1 1
# 2 2 2 2 2 2 2 2 2 2
# 3 3 3 3 3 3 3 3 3 3
# 4 4 4 4 4 4 4 4 4 4
count =0
for row in range(10):
    for column in range(10):
        print(row,end =" ")
    print()

In [ ]:
# Write code that will print the following:
# 0
# 0 1
# 0 1 2
# 0 1 2 3
# 0 1 2 3 4
# 0 1 2 3 4 5
# 0 1 2 3 4 5 6
# 0 1 2 3 4 5 6 7
# 0 1 2 3 4 5 6 7 8
# 0 1 2 3 4 5 6 7 8 9

for row in range(10):
    for column in range(row+1):
        print(column,end =" ")
    print()

In [ ]:
for row in range(10):
    for j in range(row):
        print(" ",end =" ")
    for j in range(10-row):
        print(j, end=" ")
    print()

In [ ]:
for i in range(1,10):
    
    for j in range(1,10):
        if i*j <10:
            print(" ",end ="")
        print(i*j, end =" ")
        
    print()

In [ ]:
# Write code that will print the following:
#                   1
#                 1 2 1
#               1 2 3 2 1
#             1 2 3 4 3 2 1
#           1 2 3 4 5 4 3 2 1
#         1 2 3 4 5 6 5 4 3 2 1
#       1 2 3 4 5 6 7 6 5 4 3 2 1
#     1 2 3 4 5 6 7 8 7 6 5 4 3 2 1
#   1 2 3 4 5 6 7 8 9 8 7 6 5 4 3 2 1
#     1 2 3 4 5 6 7 8 7 6 5 4 3 2 1
#       1 2 3 4 5 6 7 6 5 4 3 2 1
#         1 2 3 4 5 6 5 4 3 2 1
#           1 2 3 4 5 4 3 2 1
#             1 2 3 4 3 2 1
#               1 2 3 2 1
#                 1 2 1
#                   1



for i in range(10):
    # Print leading spaces
    for j in range(10-i):
        print (" ",end=" ")
    # Count up
    for j in range(1,i+1):
        print (j,end=" ")
    # Count down
    for j in range(i-1,0,-1):
        print (j,end=" ")
    # Next row
    print()
 
for i in range(10):
    # Print leading spaces
    for j in range(i+2):
        print (" ",end=" ")
    # Count up
    for j in range(1,9-i):
        print (j,end=" ")
    # Count down
    for j in range(7-i,0,-1):
        print (j,end=" ")
    print()
Animate Step

In [ ]:
for i in range(3):
    print("*", end="")
for j in range(3):
    print("*", end="")

In [ ]:
for i in range(3):
    for j in range(3):
        print("*", end="")
print()

In [ ]:
my_array = [5, 76, 8, 5, 3, 3, 56, 5, 23]
array_total=0
for i in range(len(my_array)):
    
    
    array_total+= my_array[i]
print(array_total)

In [ ]:
my_array = [2, 4, 6]
for i in range(3):
    print(i)

In [ ]:
if 3 < 4:
    print("A")
else:
    print("B")
print("C")

In [ ]:
a = True
if a:
    print("A")
else:
    print("B")
print("C")

In [ ]:
for x in range(4):
    print("Hello")

In [ ]:
a=0
for i in range(10):
    a += 1
print(a)

In [ ]:
a = 0
for i in range(10):
    print(i)
    for j in range(10):
        print(j)
        a += 1
        print("--------------------------")
print(a)

In [ ]:
a = 0
for i in range(10):
    a += 1
    for j in range(10):
        a += 1
print(a)

In [ ]:
numbers =[]
string=[]
names=["syam","mohith","chinna"]
second_name = names[2]
numbers.append(1)
numbers.append(2)
numbers.append(3)

string.append("hello")
string.append("world")
print(numbers)
print(string)
print("The second name on the names list is %s",second_name)

In [ ]:
even_num=[2,4,6,8]
odd_num=[3,5,7,9]
total= even_num+odd_num
print(total)

In [ ]:
print([total]*3)

In [ ]:
x= object()
y=object()
x_list =[x]*10
y_list =[y]*10
big_list =x_list+y_list

print("x_list contains% d objects", len(x_list))
print("y_list contains %d objects" , len(y_list))
print("big_list contains %d objects",  len(big_list))

if x_list.count(x)==10 and y_list.count(y)==10:
    print("Almost there..")
    if big_list.count(x)== 10 and big_list.count(y)==10:
        print("great!")

In [ ]:
name ="john"
print(f"name:{name}")

In [ ]:
data = ("John", "Doe", 53.44)
format_string = "Hello %s %s. Your current balance is $%s."
print(format_string)

In [ ]:
astring = "Hello orld!"
afewwords = astring.split(" ")
print(afewwords)

In [ ]:
# Arithemetic operators
if __name__ == '__main__':
# if__name__ =='__main__':
    
    a = int(input())
    b = int(input())
    print('{0}\n{1}\n{2}'.format((a+b),(a-b),(a*b)))

In [1]:
if __name__ == '__main__' :
   n = int(input()) 
for i in range(n):
    print(i*i)

4
0
1
4
9

In [13]:
#Two sum
# Input: nums = [2,7,11,15], target = 9
# Output: [0,1]
# Output: Because nums[0] + nums[1] == 9, we return [0, 1].

nums =[2,7,11,15]
target = 9
samplelst=[]
numLens = len(nums)
index = list(range(numLens))
print(numLens)
print(index)

4
[0, 1, 2, 3]

In [28]:
arr1 =[1,3,5,6]
target1 = 8
def two_sum(arr,target):
    values= dict()
    for i,elem in enumerate(arr):
        comp = target-elem
        if comp in values:
            return [values[comp],i]
        values[elem] = i
        return[]

In [29]:
arr2 =[4,7,2,6]
target2 =12
list1= two_sum(arr1,target1)
list2 = two_sum(arr2,target2)
print(list1)
print(list2)

[]
[]