In [ ]:
#import  dependencies
import pandas as pd

In [ ]:
# 1: Create a function that can accept two arguments name and age and print its value
def accpt_arug(name,age):
    
    Name = " viswajani"
    age =40
    
    return(name,age)

In [ ]:
accpt_arug("sita",41)

In [ ]:
#2: Write a function func1() such that it can accept a variable length of  argument and print all arguments value
def var_len(arg1,arg2):
    print(arg1,arg2)
    for i in arg1,arg2:
        print(i)
    return(arg1,arg2)

In [ ]:
var_len(20,30)

In [ ]:
def func1(*args):
    for i in args:
        print(i)
    
func1(20,30,60)

In [ ]:
def func1(*args):
    for i in args:
        print(i)

func1(20, 40, 60)
func1(80, 100)

In [ ]:
# 3: Write a function calculation() such that it can accept two variables and calculate the addition and subtraction of it. And also it must return both addition and subtraction in a single return call


def cal_fn(a,b):
    return(a+b,a-b)
result = cal_fn(30,40)
print(result)

In [ ]:
#4: Create a function showEmployee() in such a way that it should accept employee name, and itâ€™s salary and display both, and if the salary is missing in function call it should show it as 9000



def showemp(ename,esal):
    if (esal>9000):
        print("name of emp ",ename,"salary",esal)
    else:
        print("salary not greater thean 9000")
    
showemp("syam",1000)

In [ ]:
def showEmployee(name, salary=9000):
    print("Employee", name, "salary is:", salary)

showEmployee("Ben", 9000)
showEmployee("Ben")

In [ ]:
#5: Create an inner function to calculate the addition in the following way
def outerfn(a,b):
    square = a**2
    def innerfn(a,b):
        return(a+b)
    add= innerfn(a,b)
    return(add+5)
result = outerfn(5,10)
print(result)

In [ ]:
#6: Write a recursive function to calculate the sum of numbers from 0 to 10
def calsum(num):
    if num:
        return num+ calsum(num-1)
    else:
        return 0
res =calsum(30)
print(res)

In [ ]:
# 7: Assign a different name to function and call it through the new name
def displaystudent(name,age):
    print(name,age)
    
displaystudent("Emma",26)

showstudent = displaystudent
showstudent("syam",36)

In [ ]:
#8: Generate a Python list of all the even numbers between 4 to 30
def listfn(num):
    if (num%2 == 0):
        print ("num is even number",num)
    else:
        print (" Number is odd")

In [ ]:
listfn(50)

In [ ]:
print(list(range(4,30,2)))

In [ ]:
# 9: Return the largest item from the given list
alist =[4,6,78,56,45,33]
print(max(alist))

In [ ]:
for i in range(4,31):
    if i%2 == 0:
        print(i, end=' ')

In [ ]:
for i in range(4,31):
    if i%2 == 0:
        print(i)

In [ ]:
# class and objects
# We have a class defined for vehicles. Create two new vehicles called car1 and car2. Set car1 to be a red convertible worth $60,000.00 with a name of Fer, and car2 to be a blue van named Jump worth $10,000.00.

# define the vehicle class
class vehicle:
    name =""
    kind = "car"
    value = 100.00
    color =""
    def description(self):
        desc_st =("Test descripotion",self.name,self.color,self.kind,self.value)
        return desc_st
#your code goes here
car1 = vehicle()
car1.name ="Fer"
car1.color ="red"
car1.kind ="convertible"
car1.value=600000.00

car2 = vehicle()
car2.name= "jump"
car2.color ="blue"
car2.kind="van"
car2.value=100000.00

#test code
print(car1.description())
print(car2.description())

In [ ]:
# dictionaries:
phbook={}
phbook["john"] =983477556
phbook["jack"]= 982345677
phbook["jill"]=9856788890
print(phbook)

In [ ]:
phonebook = {"John" : 938477566,"Jack" : 938377264,"Jill" : 947662781}
for name,number in phonebook.items():
    print("phone number of :",name,number)

In [ ]:
phonebook = {
   "John" : 938477566,
   "Jack" : 938377264,
   "Jill" : 947662781
}
del phonebook["John"]
print(phonebook)

In [ ]:
phonebook = {
   "John" : 938477566,
   "Jack" : 938377264,
   "Jill" : 947662781
}
phonebook.pop("John")
print(phonebook)

In [ ]:
#Add "Jake" to the phonebook with the phone number 938273443, and remove Jill from the phonebook.
phonebook = {  
    "John" : 938477566,
    "Jack" : 938377264,
    "Jill" : 947662781
}  

phonebook["Jake"]=985677458
del phonebook["Jill"]
# testing code
if "Jake" in phonebook:
    print("Jake is listed in the phonebook")
if  "Jill" not in phonebook:
    print("jill is not listed in the phonebook.")

In [ ]:
# Numpy Arrays:
# Create 2 new lists height and weight
height = [1.87,  1.87, 1.82, 1.91, 1.90, 1.85]
weight = [81.65, 97.52, 95.25, 92.98, 86.18, 88.45]

# import the numpy pacakage as np
import numpy as np

# Creatae 2 numpy arrays from height and weight
np_height = np.array(height)
print(np_height)
np_weight = np.array(weight)
print(np_weight)
print(type(np_height))

In [ ]:
#calculate BMI
bmi = np_weight/np_height**2
print(bmi)

In [ ]:
# for a boolean response
bmi>23
# print only those observations above 23
bmi[bmi>23]

In [ ]:
#First, convert the list of weights from a list to a Numpy array. Then, convert all of the weights from kilograms to pounds. Use the scalar conversion of 2.2 lbs per kilogram to make your conversion. Lastly, print the resulting array of weights in pounds.

weight_kg = [81.65, 97.52, 95.25, 92.98, 86.18, 88.45]

import numpy as np

# Create a numpy array np_weight_kg from weight_kg
np_weight_kg = np.array(weight_kg)
print(np_weight_kg)
# Create np_weight_lbs from np_weight_kg
np_weight_lbs= np_weight_kg*2.2
print(np_weight_lbs)

In [ ]:
dict = {"country": ["Brazil", "Russia", "India", "China", "South Africa"],
       "capital": ["Brasilia", "Moscow", "New Dehli", "Beijing", "Pretoria"],
       "area": [8.516, 17.10, 3.286, 9.597, 1.221],
       "population": [200.4, 143.5, 1252, 1357, 52.98] }

import pandas as pd
brics = pd.DataFrame(dict)
print(brics)
# Set the index for brics
brics.index = ["BR", "RU", "IN", "CH", "SA"]
# Print out brics with new index values
print(brics)

In [ ]:
#piling up
for t in range(int(input())):
    input()
    lst =[int(i) for i in input().split()]
    min_list =lst.indx(min(lst))
    left =lst[:min_list]
    right =lst[min_list+1:]
    if left == sorted(left,reverse=True) and right == sorted(right):
        print("yes")
    else:
        print("no")

In [ ]:
# Print the three most common characters along with their occurrence count each on a separate line.
# Sort output in descending order of occurrence count.
# If the occurrence count is the same, sort the characters in alphabetical order.

import math
import os
import random
import re
import sys

if __name__=="__main__":
    s= input()
temp =[]
for char in s:
    print(char)
    if char in temp:
        char==cnt(char)
        
        
    else:
        temp.append(char)
          
print(temp)

In [ ]:
    s = input()
    count = dict()
    for i in range(len(s)):
        if s[i] not in count:
            count[s[i]]=1
        else:
            count[s[i]]+=1
    s2 = sorted(sorted(count), key = count.get,reverse = True)
    top_3 =s2[:3]
    for j in top_3:
        print(j, count[j])

In [ ]:
if __name__ == '__main__':
    N = int(input())
    list(list=[])
lit.append[1]

In [4]:
#Write a map function that adds plus 5 to each item in the list.
lst1=[10, 20, 30, 40, 50, 60]


lst2 = list(map(lambda x:x+5 ,lst1))

print(lst2)

[15, 25, 35, 45, 55, 65]