In [1]:
#import  dependencies
import pandas as pd

In [13]:
# 1: Create a function that can accept two arguments name and age and print its value
def accpt_arug(name,age):
    
    Name = " viswajani"
    age =40
    
    return(name,age)

In [14]:
accpt_arug("sita",41)

('sita', 40)

In [19]:
#2: Write a function func1() such that it can accept a variable length of  argument and print all arguments value
def var_len(arg1,arg2):
    print(arg1,arg2)
    for i in arg1,arg2:
        print(i)
    return(arg1,arg2)

In [20]:
var_len(20,30)

20 30
20
30

(20, 30)

In [36]:
def func1(*args):
    for i in args:
        print(i)
    
func1(20,30,60)

20
30
60

In [34]:
def func1(*args):
    for i in args:
        print(i)

func1(20, 40, 60)
func1(80, 100)

20
40
60
80
100

In [37]:
# 3: Write a function calculation() such that it can accept two variables and calculate the addition and subtraction of it. And also it must return both addition and subtraction in a single return call


def cal_fn(a,b):
    return(a+b,a-b)
result = cal_fn(30,40)
print(result)

(70, -10)

In [49]:
#4: Create a function showEmployee() in such a way that it should accept employee name, and itâ€™s salary and display both, and if the salary is missing in function call it should show it as 9000



def showemp(ename,esal):
    if (esal>9000):
        print("name of emp ",ename,"salary",esal)
    else:
        print("salary not greater thean 9000")
    
showemp("syam",1000)

salary not greater thean 9000

In [50]:
def showEmployee(name, salary=9000):
    print("Employee", name, "salary is:", salary)

showEmployee("Ben", 9000)
showEmployee("Ben")

Employee Ben salary is: 9000
Employee Ben salary is: 9000

In [51]:
#5: Create an inner function to calculate the addition in the following way
def outerfn(a,b):
    square = a**2
    def innerfn(a,b):
        return(a+b)
    add= innerfn(a,b)
    return(add+5)
result = outerfn(5,10)
print(result)

20

In [56]:
#6: Write a recursive function to calculate the sum of numbers from 0 to 10
def calsum(num):
    if num:
        return num+ calsum(num-1)
    else:
        return 0
res =calsum(30)
print(res)

465

In [58]:
# 7: Assign a different name to function and call it through the new name
def displaystudent(name,age):
    print(name,age)
    
displaystudent("Emma",26)

showstudent = displaystudent
showstudent("syam",36)

Emma 26
syam 36

In [62]:
#8: Generate a Python list of all the even numbers between 4 to 30
def listfn(num):
    if (num%2 == 0):
        print ("num is even number",num)
    else:
        print (" Number is odd")

In [63]:
listfn(50)

num is even number 50

In [65]:
print(list(range(4,30,2)))

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [70]:
# 9: Return the largest item from the given list
alist =[4,6,78,56,45,33]
print(max(alist))

78