### Basics of Python

Fill valid code/values in place of blanks.

# Demo
# initialize variable 'msg' with the string 'Hello World'
msg = _____

# Solution
msg = "Hello World"

In [ ]:
# initialize variables 'a' and 'b' with 5 and 6 respectively
a = 5 
b = 6
# add 'a' and 'b' and assign the result into a new variable 'c'
c = a + b
print(c)

In [ ]:
# build a function to add 2 numbers
def addition(x,y):
    return(x+y)

# use the function 'addition' to add 'a' and 'b'
addition(4,5)

In [ ]:
# create a list consisting of first 5 even numbers and print the list
my_list = [10,20,30,40,50]
print(my_list)

In [ ]:
# access the 3rd element of the list 'my_list'
my_list[2]

In [ ]:
# given below is a dictionary having 4 unique keys, i.e., 'name', 'age', 'gender', 'is_employed'
my_dict = {'name':'Smith',
           'age':34,
           'gender': 'Male',
           'is_employed': False}

# print 'my_dict'
print(my_dict)

In [ ]:
# access value under 'name' key from 'my_dict'
my_dict['name']

In [ ]:
# update 'is_employed' key to True
my_dict.update({'is_employed': True})

# print the updated dictionary
print(my_dict)

In [ ]:
# use a for loop to print only even numbers from the first 20 numbers, i.e. 1-20
for i in range(1,21):
    if i % 2 == 0:
        print(i)

### Please download the file "data_python.csv".

In [ ]:
# import required libraries
import pandas as pd
import numpy as np

In [ ]:
## read data_python.csv using pandas
mydata = pd.read_csv("data_python.csv")

In [ ]:
## print the number of rows and number of columns of mydata
mydata.shape

In [ ]:
## assign a variable 'target' with the 'Loan_Status' feature from mydata dataframe
target = mydata['Loan_Status']

In [ ]:
## print the datatype of ApplicantIncome feature
print(mydata['ApplicantIncome'].dtype)

In [ ]:
## conditional statement - print 'Yes' if the 21st element of 'Education' feature is 'Graduate' else print 'No'
if(mydata['Education'][20] == 'Graduate'):
    print('yes')
else:
    print('No')

In [ ]:
## print 31st to 35th rows of mydata
mydata.iloc[31:36]

In [ ]:
## print first 5 rows of 2nd and 3rd column only
mydata.iloc[:6,1:3]

In [ ]:
def fun(x):
    x[0]=5
    return(x)
g =[10,11,12]
print(fun(g),g)

In [ ]:
import time
str ='21/01/2017'
date_time_value =time.strptime(str,"%d/%m/%Y")

In [ ]:
a = [1,2,3,4,5]

b = [6,7,8,9]
c=a.extend(b)
print(c)

In [ ]:
a = [1,2,3,4,5]

b = [6,7,8,9]
a.append(b)
print(c)

In [ ]:
my_set ={1,True}

print(my_set)

In [ ]:
#What is the output of the following program?

L1 = [10, 20, 30, 40]

L2 = L1

L3 = L1.copy()

L4 = list(L1)

L1[0] = [50]

print(L1, L2, L3, L4)
print(L2)
print(L3)
print(L4)

In [ ]:
print(bool(0), bool(1.11), bool(-5))

In [ ]:
for i in range(1,10):
    if(i==5):
        pass
    else:
        print(i,end ="")

In [ ]:
#find  student marks percentages:
if __name__ == '__main__':
    n = int(input())
    student_marks = {}
    for _ in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores
    query_name = input()
    if query_name in student_marks:
        x = ((float(student_marks[query_name][0]) + float(student_marks[query_name][1]) + float(student_marks[query_name][2])) / 3)
    
    print('%.2f' % x)

In [ ]:
#find  student marks percentages:
if __name__ == '__main__':
    n = int(input())
    student_marks = {}
    for _ in range(n):
        name, *line = input().split()
        print("name")
        scores = list(map(float, line))
        student_marks[name] = scores
    query_name = input()

In [ ]:
#find  student marks percentages:
if __name__ == '__main__':
    n = int(input())
    student_marks = {}
    for _ in range(n):
        name, *line = input().split()
        print("name" ,name)
        print(*line)
        scores = list(map(float,line))
        print(scores)
        student_marks[name] = scores
        print(student_marks[name])

3
aa 45 67 67 78
name aa
45 67 67 78
[45.0, 67.0, 67.0, 78.0]
[45.0, 67.0, 67.0, 78.0]
45.0
name 45.0

[]
[]