In [ ]:
#import  dependencies
import pandas as pd

In [ ]:
# 1: Create a function that can accept two arguments name and age and print its value
def accpt_arug(name,age):
    
    Name = " viswajani"
    age =40
    
    return(name,age)

In [ ]:
accpt_arug("sita",41)

In [ ]:
#2: Write a function func1() such that it can accept a variable length of  argument and print all arguments value
def var_len(arg1,arg2):
    print(arg1,arg2)
    for i in arg1,arg2:
        print(i)
    return(arg1,arg2)

In [ ]:
var_len(20,30)

In [ ]:
def func1(*args):
    for i in args:
        print(i)
    
func1(20,30,60)

In [ ]:
def func1(*args):
    for i in args:
        print(i)

func1(20, 40, 60)
func1(80, 100)

In [ ]:
# 3: Write a function calculation() such that it can accept two variables and calculate the addition and subtraction of it. And also it must return both addition and subtraction in a single return call


def cal_fn(a,b):
    return(a+b,a-b)
result = cal_fn(30,40)
print(result)

In [ ]:
#4: Create a function showEmployee() in such a way that it should accept employee name, and itâ€™s salary and display both, and if the salary is missing in function call it should show it as 9000



def showemp(ename,esal):
    if (esal>9000):
        print("name of emp ",ename,"salary",esal)
    else:
        print("salary not greater thean 9000")
    
showemp("syam",1000)

In [ ]:
def showEmployee(name, salary=9000):
    print("Employee", name, "salary is:", salary)

showEmployee("Ben", 9000)
showEmployee("Ben")

In [ ]:
#5: Create an inner function to calculate the addition in the following way
def outerfn(a,b):
    square = a**2
    def innerfn(a,b):
        return(a+b)
    add= innerfn(a,b)
    return(add+5)
result = outerfn(5,10)
print(result)

In [ ]:
#6: Write a recursive function to calculate the sum of numbers from 0 to 10
def calsum(num):
    if num:
        return num+ calsum(num-1)
    else:
        return 0
res =calsum(30)
print(res)

In [ ]:
# 7: Assign a different name to function and call it through the new name
def displaystudent(name,age):
    print(name,age)
    
displaystudent("Emma",26)

showstudent = displaystudent
showstudent("syam",36)

In [ ]:
#8: Generate a Python list of all the even numbers between 4 to 30
def listfn(num):
    if (num%2 == 0):
        print ("num is even number",num)
    else:
        print (" Number is odd")

In [ ]:
listfn(50)

In [ ]:
print(list(range(4,30,2)))

In [ ]:
# 9: Return the largest item from the given list
alist =[4,6,78,56,45,33]
print(max(alist))

In [ ]:
for i in range(4,31):
    if i%2 == 0:
        print(i, end=' ')

In [ ]:
for i in range(4,31):
    if i%2 == 0:
        print(i)

In [ ]:
# class and objects
# We have a class defined for vehicles. Create two new vehicles called car1 and car2. Set car1 to be a red convertible worth $60,000.00 with a name of Fer, and car2 to be a blue van named Jump worth $10,000.00.

# define the vehicle class
class vehicle:
    name =""
    kind = "car"
    value = 100.00
    color =""
    def description(self):
        desc_st =("Test descripotion",self.name,self.color,self.kind,self.value)
        return desc_st
#your code goes here
car1 = vehicle()
car1.name ="Fer"
car1.color ="red"
car1.kind ="convertible"
car1.value=600000.00

car2 = vehicle()
car2.name= "jump"
car2.color ="blue"
car2.kind="van"
car2.value=100000.00

#test code
print(car1.description())
print(car2.description())

In [ ]:
# dictionaries:
phbook={}
phbook["john"] =983477556
phbook["jack"]= 982345677
phbook["jill"]=9856788890
print(phbook)

In [ ]:
phonebook = {"John" : 938477566,"Jack" : 938377264,"Jill" : 947662781}
for name,number in phonebook.items():
    print("phone number of :",name,number)

In [ ]:
phonebook = {
   "John" : 938477566,
   "Jack" : 938377264,
   "Jill" : 947662781
}
del phonebook["John"]
print(phonebook)

In [ ]:
phonebook = {
   "John" : 938477566,
   "Jack" : 938377264,
   "Jill" : 947662781
}
phonebook.pop("John")
print(phonebook)

In [ ]:
#Add "Jake" to the phonebook with the phone number 938273443, and remove Jill from the phonebook.
phonebook = {  
    "John" : 938477566,
    "Jack" : 938377264,
    "Jill" : 947662781
}  

phonebook["Jake"]=985677458
del phonebook["Jill"]
# testing code
if "Jake" in phonebook:
    print("Jake is listed in the phonebook")
if  "Jill" not in phonebook:
    print("jill is not listed in the phonebook.")

In [ ]:
# Numpy Arrays:
# Create 2 new lists height and weight
height = [1.87,  1.87, 1.82, 1.91, 1.90, 1.85]
weight = [81.65, 97.52, 95.25, 92.98, 86.18, 88.45]

# import the numpy pacakage as np
import numpy as np

# Creatae 2 numpy arrays from height and weight
np_height = np.array(height)
print(np_height)
np_weight = np.array(weight)
print(np_weight)
print(type(np_height))

In [ ]:
#calculate BMI
bmi = np_weight/np_height**2
print(bmi)

In [ ]:
# for a boolean response
bmi>23
# print only those observations above 23
bmi[bmi>23]

In [ ]:
#First, convert the list of weights from a list to a Numpy array. Then, convert all of the weights from kilograms to pounds. Use the scalar conversion of 2.2 lbs per kilogram to make your conversion. Lastly, print the resulting array of weights in pounds.

weight_kg = [81.65, 97.52, 95.25, 92.98, 86.18, 88.45]

import numpy as np

# Create a numpy array np_weight_kg from weight_kg
np_weight_kg = np.array(weight_kg)
print(np_weight_kg)
# Create np_weight_lbs from np_weight_kg
np_weight_lbs= np_weight_kg*2.2
print(np_weight_lbs)

In [ ]:
dict = {"country": ["Brazil", "Russia", "India", "China", "South Africa"],
       "capital": ["Brasilia", "Moscow", "New Dehli", "Beijing", "Pretoria"],
       "area": [8.516, 17.10, 3.286, 9.597, 1.221],
       "population": [200.4, 143.5, 1252, 1357, 52.98] }

import pandas as pd
brics = pd.DataFrame(dict)
print(brics)
# Set the index for brics
brics.index = ["BR", "RU", "IN", "CH", "SA"]
# Print out brics with new index values
print(brics)

In [ ]:
#piling up
for t in range(int(input())):
    input()
    lst =[int(i) for i in input().split()]
    min_list =lst.indx(min(lst))
    left =lst[:min_list]
    right =lst[min_list+1:]
    if left == sorted(left,reverse=True) and right == sorted(right):
        print("yes")
    else:
        print("no")

In [11]:
# Print the three most common characters along with their occurrence count each on a separate line.
# Sort output in descending order of occurrence count.
# If the occurrence count is the same, sort the characters in alphabetical order.

import math
import os
import random
import re
import sys

if __name__=="__main__":
    s= input()
temp =[]
for char in s:
    print(char)
    if char in temp:
        char==cnt(char)
        
        
    else:
        temp.append(char)
          
print(temp)

1234544
1
2
3
4
5
4

NameError: name 'cnt' is not defined

In [ ]:
    s = input()
    count = dict()
    for i in range(len(s)):
        if s[i] not in count:
            count[s[i]]=1
        else:
            count[s[i]]+=1
    s2 = sorted(sorted(count), key = count.get,reverse = True)
    top_3 =s2[:3]
    for j in top_3:
        print(j, count[j])

In [ ]:
if __name__ == '__main__':
    N = int(input())
    list(list=[])
lit.append[1]

In [ ]:
#Write a map function that adds plus 5 to each item in the list.
lst1=[10, 20, 30, 40, 50, 60]


lst2 = list(map(lambda x:x+5 ,lst1))

print(lst2)

In [ ]:
#Write a map function that returns the squares of the items in the list.
lst1=[10, 20, 30, 40, 50, 60]
lst2= list(map(lambda x:x*x,lst1))

print(lst2)

In [ ]:
#Write a map function that adds "Hello, " in front of each item in the list.
lst1=["Jane", "Lee", "Will", "Brie"]

lst2= list(map(lambda x:"Hello,"+x,lst1))

print(lst2)

In [ ]:
#Using map() function and len() function create a list that's consisted of lengths of each element in the first list.

lst1=["Alpine", "Avalanche", "Powder", "Snowflake", "Summit"]

lst2=list(map(lambda x:len(x),lst1))

print(lst2)

In [ ]:
#Using map() function and lambda add each elements of two lists together. Use a lambda with two arguments.
lst1=[100, 200, 300, 400, 500]
lst2=[1,10,100,1000,10000]


lst3=list(map(lambda x,y:x+y,lst1,lst2))


print(lst3)

In [ ]:
#Using map() function and lambda and count() function create a list which consists of the number of occurence of letter: a.
lst1=["Alaska", "Alabama", "Arizona", "Arkansas", "Colorado", "Montana", "Nevada"]


lst2=list(map(lambda x:x.count('a'),lst1))


print(lst2)

In [ ]:
#Using map() function and lambda and count() function create a list consisted of the number of occurence of both letters: A and a.
lst1=["Alaska", "Alabama", "Arizona", "Arkansas", "Colorado", "Montana", "Nevada"]


lst2= list(map(lambda x:x.lower().count("a"),lst1))


print(lst2)

In [ ]:
#Using map() function, first return a new list with absolute values of existing list. Then for ans_1, find the total sum of the new list's elements.

lst=[99.3890,-3.5, 5, -0.7123, -9, -0.003]

new_lst=list(map(lambda x:abs(x),lst))
print(new_lst)

ans_1= list(map(lambda x: sum(new_lst),new_lst))

print(ans_1)

In [ ]:
lst=[99.3890,-3.5, 5, -0.7123, -9, -0.003]

new_lst=list(map(abs,lst))
print(new_lst)

ans_1= sum(new_lst)

print(ans_1)

In [ ]:
my_strings = ['a', 'b', 'c', 'd', 'e']
my_numbers = [1,2,3,4,5]

results = list(zip(my_strings, my_numbers))

print(results)

In [ ]:
my_strings = ['a', 'b', 'c', 'd', 'e']
my_numbers = [1,2,3,4,5]

results = list(map(lambda x,y:(x,y),my_strings,my_numbers))
print(results)

In [ ]:
dromes = ("demigod", "rewire", "madam", "freer", "anutforajaroftuna", "kiosk")

palindromes = list(filter(lambda word: word == word[::-1], dromes))

print(palindromes)

In [ ]:
#filter
scores = [66, 90, 68, 59, 76, 60, 88, 74, 81, 65]
def is_a_student(score):
    return score>75
over_75 = list(filter(is_a_student,scores))
print(over_75)

In [ ]:
#Using filter() function filter the list so that only negative numbers are left.
lst1=[12, -1, 9, 8, -0.5, -0.2, -100]

def neg_num(num):
    return num < 0


lst2=list(filter(neg_num,lst1))


print(lst2)

In [ ]:
#Using filter function, filter the even numbers so that only odd numbers are passed to the new list.

lst1=[22, 100, 19, 13, 11, 1, 4, 66]


lst2=list(filter(lambda x:x%2==1,lst1))

print(lst2)

In [ ]:
#Using filter() and list() functions and .lower() method filter all the vowels in a given string.
str1="Winter Olympics in 2022 will take place in Beijing China"


lst=list(filter(lambda x:True if x.lower() in "aeiou" else False,str1))

print(lst)

In [ ]:
#This time using filter() and list() functions filter all the positive integers in the string.
str1="Winter Olympics in 2022 will take place in Beijing China"


lst=list(filter(lambda x: True if x in "0123456789" else False,str1))

print(lst)

In [ ]:
#Using map() and filter() functions add 2000 to the values below 8000.

lst1=[1000, 500, 600, 700, 5000, 90000, 17500]

less_8000 =list(filter(lambda x:x<8000 ,lst1))
print(less_8000)
lst2=list(map(lambda x:x+2000,less_8000))

print(lst2)

In [ ]:
#This time swap the map() and filter() functions so that map() function is inside filter() function. Convert a number to positive if it's negative in the list. Only pass those that are converted from negative to positive to the new list.
lst1=[-1000, 500, -600, 700, 5000, -90000, -17500]


lst2=list(filter(lambda x: True if x>0 else False,map(lambda x: x*-1,lst1)))

print(lst2)

In [ ]:
# .format()
name=input("Please enter your name.")

str="Hello!,{} ".format(name)


 
print(str)

In [ ]:
#Using a string and .format() method print the number: 1 only.
num = int(input())
print("numbers {}".format(1))

In [ ]:
str="One year has {2} months, {0} weeks and {1} days.".format(52, 365, 12)


print(str)

In [ ]:
#Fill inside .format()'s parenthesis so that it matches the correct values.
John=75
Ann=80
Ally=60

str="Scores were as following: John:{}, Ann:{}, Ally:{}"


#Type your code here.

# str="Scores were as following: John:{}, Ann:{}, Ally:{}".format(75,80,60)

str = str.format(John,Ann,Ally)

print(str)

In [ ]:
#Join the list's elements with: "+++".
lst=["Hawaii", "Phuket", "Aruba", "Keys"]

#Type your answer here.

joined= "+++".join(lst)


print(joined)

In [ ]:
#Join the tuple's elements so that you get a proper email address.

addresses=("Mr.Hathaway", "amymail.com")
#Type your code here.
email="@".join(addresses)



print(email)

In [ ]:
#Using the split method, split the string with semi colon (;) first. Then, print only the last element.


str="Arsenal:0-Chelsea:1;Barcelona:2-Bayern Munich:2"
#Type your code here.

lst=str.split(";")
print(lst)
ans_1=lst[-1]

print(ans_1)

In [ ]:
str="     Hello World!   "
#Type your answer here.
str=str.strip(" ")

print(str)



from unittest.gui import TestCaseGui

class myTests(TestCaseGui):
    def testOne(self):
        self.assertEqual(str,str.strip(" "),"str checks")

myTests().main()

In [ ]:
treepersqkm = {"Finland": 90652, "Taiwan": 69593, "Japan": 49894, "Russia": 41396, "Brazil": 39542, "Canada": 36388, "Bulgaria": 24987, "France": 24436, "Greece": 24323, "United States": 23513, "Turkey": 11126, "India": 11109, "Denmark": 6129, "Syria": 534, "Saudi Arabia": 1}
def moretrees(dict):
    lst = []
    for i in dict:
        if dict[i]>20000:
            lst.append(i)
        else:
            pass
    return lst
print(moretrees(treepersqkm))

In [ ]:
#Write a function named "count_l" that counts the number of words that contain the letter: "l" in a given string.
str = "Oranges and lemons, Say the bells of St. Clement's. You owe me three farthings, Say the bells of St. Martin's"


def count_l(a):
    c=0
    for i in a.split():
        if "l" in i:
            c= c+1
        else:
            pass
    return c
print(count_l(str))

In [ ]:
#Write a for loop that iterates through a string and prints every letter.
str="Antarctica"
#Type your code here.
for i in str:
    print(i)

In [ ]:
#Using a for loop and .append() method append each item with a Dr. prefix to the lst.
lst1=["Phil", "Oz", "Seuss", "Dre"]
lst2=[]
for i in lst1:
    lst2.append("Dr."+i)




print(lst2)

In [ ]:
#Using while loop, if statement and str() function; iterate through the list and if there is a 100, print it with its index number. i.e.: "There is a 100 at index no: 5"
lst=[10, 99, 98, 85, 45, 59, 65, 66, 76, 12, 35, 13, 100, 80, 95]
i = 0
while i < len(lst):
    if lst[i] == 100:
        print("There is a 100 at index no"+str(i))
    i = i+1

In [3]:
lst1=["Joe", "Sarah", "Mike", "Jess", "", "Matt", "", "Greg"]

#Type your code here.

def name_adder(lst):
    i=0
    lst2=[]
    while i<len(lst):
               
        if lst[i]!="":
            
            lst2.append(lst[i])
        i=i+1
    return(lst2)





print(name_adder(lst1))

['Joe', 'Sarah', 'Mike', 'Jess', 'Matt', 'Greg']

In [2]:
 name = "string"
print('strin\\ng')
for i in range(10,6,-1):
    print(i)

strin\ng
10
9
8
7

In [5]:
s="raj"
for i in s:
    if i!= "a":
        print(i, end="")

rj

In [6]:
s="raj"
for i in range(len(s)):
    print(i)

0
1
2

In [9]:
s="raj"
for inde in range(len(s)):
    print(s[inde])

r
a
j

In [13]:
s="Raj"
for i in range(len(s)-1,-1,-1):
    print(s[i])
print(s[::-1])

j
a
R
jaR

In [16]:
x=[7,8,9]
for index,item in enumerate(x):
    print(index,item)

0 7
1 8
2 9

In [17]:
x = "hippo"
print(x.index('p'))

2

In [21]:
def cal_fn(first,second):
    result = first+second
    return(result)
print(cal_fn(10,20.1))

30.1

In [26]:
first = input("first:")
second = input("second:")
sum = float(first)+float(second)
print(sum)

first:45
second:89
134.0

In [19]:
print(10,20.1)

10 20.1

In [28]:
l1=[2,4,3]
l2=[5,6,4]
def ar_sum(l1,l2):
    result = l1+l2
    return(result)
print(ar_sum(l1,l2))

[2, 4, 3, 5, 6, 4]

In [30]:
# python 2-d Array
import numpy as np

# define 2 different arrays
l1=np.array([2,4,3])
l2 =np.array([5,6,4])
res= l1+l2
print(res)

[ 7 10  7]

In [31]:
import numpy as np

# define 2 different arrays
l1=np.array([2,4,3])
l2 =np.array([5,6,4])
np.add(l1,l2)

array([ 7, 10,  7])

In [34]:
from array import *
T = [[11,12,5,2],[15,6,10],[10,8,12,5],[12,15,8,6]]
for r in T:
    for c in r:
        print(c, end=" ")
    print()

11 12 5 2
15 6 10
10 8 12 5
12 15 8 6

In [35]:
from array import *
T = [[11,12,5,2],[15,6,10],[10,8,12,5],[12,15,8,6]]
T.insert(2,[0,3,11,13,7])
for r in T:
    for c in r:
        print(c, end=" ")
    print()

11 12 5 2
15 6 10
0 3 11 13 7
10 8 12 5
12 15 8 6

In [37]:
# updating 2 dimentional array 
from array import *
T = [[11,12,5,2],[15,6,10],[10,8,12,5],[12,15,8,6]]
T[2] =[11,9]
T[0][3] =7

for r in T:
    for c in r:
        print(c,end=" ")
    print()

11 12 5 7
15 6 10
11 9
12 15 8 6

In [38]:
#Deleting the values in 2 dimentional array
from array import *
T = [[11,12,5,2],[15,6,10],[10,8,12,5],[12,15,8,6]]
del T[3]

for r in T:
    for c in r:
        print(c,end=" ")
    print()

11 12 5 2
15 6 10
10 8 12 5

In [44]:
def product_1_to_n(n):
    result =1
    for num in range(1,n+1):
#         result*= num
        result =result* num
    return result
    
print(product_1_to_n(5))

120

In [45]:
#simple recursive program to find factorial
def facto(num):
    if num==1:
        return 1
    else:
        return num*facto(num-1)
    
print(facto(5))

120